* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  box-sizing: border-box;
  opacity: 0.9;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}

h3 {
  font-size: 24px;
  text-align: center;
  padding: 0px;
  margin: 10px 0;
}

h4 {
  text-align: center;
  padding: 0px;
  margin: 5px 0;
}

h5 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0px;
  margin: 10px 0;
}

p {
  text-align: center;
}

header {
  width: 100%;
  padding: 0;
  height: 69px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid seashell;
}

nav {
  width: 100%;
}

ul {
  position: relative;
  float: right;
}

nav li {
  display: inline;
  padding: 0px 10px;
  text-decoration: underline;
}

main {
  margin-top: 69px;
  display: flex;
  justify-content: center;
}

.main-1200-width {
  flex-basis: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  width: 100%;
  background-image: url(../media/img-mission-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  flex-basis: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.banner-headings {
  width: 100%;
  background-color: black;
  opacity: 1;
}

.tea-of-the-month {
  width: 83.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.collection-tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month-item {
  margin: 10px;
}


.month-item {
  width: 300px;
}

img.month-image {
  width: 300px;
  height: 200px;
}

.locations {
  width: 100%;
  background-image: url(../media/img-locations-background.webp);
  margin: auto;
  display: flex;
  flex-basis: 500px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.locations h2 {
  margin: 15px 0;
}

.collection-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: none;
}

.location-item {
  width: 300px;
  margin: 0 20px 20px 20px;
  background-color: black;
  opacity: 1;
}

.locations h2,
.location-item h3,
.location-item p {
  background-color: transparent;
}

footer {
  padding: 0 20px;
}

footer p {
  text-align: left;
}
